<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title> Leaf Assist </title>
    <style>
        .container {
                display: grid;
                place-items: center; /* centers both horizontally and vertically */
                }
        .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                }


    </style>
</head>

    <body class="img" style=" background-image: url('static/image/bg.jpg');">
        
        <div class="container" style="text-align: center;">
            <div class="container" style="margin: 0 auto;">
            <img src="static/image/removedbg.png" style="filter:drop-shadow(10px 10px 10px rgba(248, 248, 248, 0.781));" width="300" height="300">
            <h1 style="color:white">Welcome to Leaf Assist</h1>
            <p style="color:whitesmoke;font-size: larger;">Your Crop's Friend, Unlock the secrets of successful farming with us</p>
            <button type="button" onclick="location.href='next_page.html'" class="btn btn-secondary btn-lg">Get Started</button>
        </div>
        </div>
          
      </body>
      
        
</html>
